* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-1 {
  background-color: #cacaca;
  padding: 10px;
  margin: 50px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.computer-container {
  display: flex;
}

.computer-weapon {
  /* background-color: #ff0037; */
  background-color: #00ffea;
  border: 2px solid black;

  color: black;
  font-size: 35px;
  padding: 20px;
  margin: 10px;
  transition: background-color 0.5s;
}

.player-container {
  display: flex;
}

.player-weapon {
  background-color: gold;
  border: 2px solid black;
  color: rgb(0, 0, 0);
  font-size: 35px;
  padding: 20px;
  margin: 10px;
  transition: background-color 0.5s;
}

.player-weapon:hover {
  background-color: rgb(9, 255, 0);
  /* background-color: rgb(156, 51, 255); */
}
