* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #cacaca;
  padding: 10px;
  margin: 50px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.item {
  background-color: #ff0037;
  color: #fff;
  font-size: 35px;
  padding: 20px;
  margin: 10px;
  /* flex: 1; */
}

.item-1 {
  /* order: 3; */
}

.item-2 {
  /* order: 4; */
}

.item-3 {
  /* height: 150px; */
  /* order: 0; */
}

.item-4 {
  /* font-size: 70px; */
  /* align-self: stretch; */
  /* order: 1; */
}

.item-5 {
  /* order: 2; */
  /* flex-basis: 700px;
  flex-shrink: 1; */
}

.item-10 {
  flex: 1;
}
