* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #cacaca;
  padding: 10px;
  margin: 50px;
  /* height: 1400px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item {
  background-color: #ff0037;
  color: #fff;
  font-size: 35px;
  padding: 20px;
  margin: 10px;
}

/* .items-3 {
  height: 150px;
}

.items-4 {
  font-size: 70px;
} */
