* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-1 {
  padding: 10px;
  margin: 50px;
  height: 600px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  border: 1px solid black;
  color: black;
  font-size: 20px;
  padding: 10px;
}

/* .heading {
  border: 1px solid black;
}

.weapons {
  border: 1px solid black;
} */
