* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-1 {
  background-color: #cacaca;
  padding: 10px;
  margin: 50px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.computer-hearts-container,
.computer-container,
.player-container,
.player-hearts-container {
  display: flex;
}

.computer-heart {
  margin: 10px;
}

.computer-weapon,
.player-weapon {
  background-color: white;
  border: 2px solid black;
  color: rgb(0, 0, 0);
  font-size: 35px;
  padding: 20px;
  margin: 10px;
  transition: background-color 0.5s;
}

.computer-weapon:hover {
  cursor: not-allowed;
}

.player-weapon:hover {
  background-color: rgb(9, 255, 0);
  cursor: pointer;
}

.player-heart {
  margin: 10px;
}

.messages {
  background-color: rgb(255, 243, 130);
  font-size: 20px;
}
